@{ 
    ViewData["Title"] = "Редактирование записи";
    Layout = "~/Views/_AdminLayout.cshtml";
}

    <form action="">
        <div class="form__title">
            Редактирование статьи
        </div>
        <div class="form-control">
            <label for="title">Название статьи </label>
            <input type="text" placeholder="Введите название статьи" id="title" name="title" />
        </div>
        <button class="btn">
            Получить статью
        </button>
    </form>


