@model Apple_Site.Models.Article

@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "_Layout";
}
<article class="container">
     <h1>@Model.Title</h1>
      <p>
         @Model.Content
      </p>
</article>
